<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ManuGPT</title>

    <link rel="icon" href="{{ url_for('static', filename='img/server-solid.svg') }}" />

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.css') }} " rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='vendor/google-webfonts/css/nunito.css') }} " rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <div class="sidebar-brand-text mx-3">ManuGPT: rewrite your manuscript using GPT model</div>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - Device Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ hostname }} / {{ local_ip }}</span>
                                <i class="fas fa-fw fa-desktop"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Text Card-->
                        <div class="col-lg-12 mb-12">
                            <div class="card shadow mb-12">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">ManuGPT</h6>
                                    <div>
                                        <a href="#" id="submit-btn" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                            id="submit-icon" class="fas fa-play fa-fw fa-sm text-white-50"></i> <span
                                            id="submit-text" type="submit"> Submit </span> </a>
                                        <a href="#" id="download-btn" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i
                                            id="download-icon" class="fas fa-clipboard fa-fw fa-sm text-white-50"></i> <span
                                            id="download-text"> Download </span> </a>
                                    </div>

                                </div>

                                <div class="card-body">

                                    <!-- Job parameters -->
                                    <form id="form-data" class="user" method="post" enctype="multipart/form-data">
                                        <div class="form-row">
                                            <div class="form-group col-md-6 mb-6">
                                                <label for="title-text">Title (optional)</label>
                                                <input type="text" class="form-control" id="title-text" name="title-text" placeholder="Input your title here" value="">
                                            </div>

                                            <div class="form-group col-md-6 mb-6">
                                                <label for="keywords-text">Keyword (split by comma, optional)</label>
                                                <input type="text" class="form-control" id="keywords-text" name="keywords-text" placeholder="Input your keywords here" value="">
                                            </div>
                                        </div>

                                        <!-- Action -->
                                        <div class="form-row">
                                            <div class="form-group col-md-3 mb-3">
                                                <label for="section-text">Section</label>
                                                <select id="section-text" name="section-text" class="form-control">
                                                    <option selected>Abstract</option>
                                                    <option>Introduction</option>
                                                    <option>Results</option>
                                                    <option>Discussion</option>
                                                    <option>Methods</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-3 mb-3">
                                                <label for="model-text">Model</label>
                                                <select id="model-text" name="model-text" class="form-control">
                                                    <option selected>text-davinci-003</option>
                                                    <option>text-davinci-edit-001</option>
                                                    <option>gpt-3.5-turbo</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-6 mb-6">
                                                <label for="api-key">API key</label>
                                                <input type="text" class="form-control" id="api-key" name="api-key" placeholder="Input your openAI API key here" value={{ api_key }}>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6 mb-6">
                                                <label for="input-text">Input paragraph (required)</label>
                                                <textarea type="text" class="form-control" id="input-text" name="input-text" placeholder="Input your text here." value="" rows="18"></textarea>
                                            </div>

                                            <div class="form-group col-md-6 mb-6">
                                                <label for="output-text">Revised paragraph</label>
                                                <textarea type="text" class="form-control" id="output-text" name="output-text" placeholder="Revised text will be displayed here." value="" rows="18"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Content Column -->
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; ManuGPT 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }} "></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }} "></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap-slider/bootstrap-slider.min.js') }} "></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }} "></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }} "></script>

    <!-- Run unblock -->
    <script type=text/javascript>
        function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }
        const outputText = document.getElementById('output-text');
        var is_running = 0;
        var
            $submitBtn = $('#submit-btn'),
            $submitIcon = $('#submit-icon'),
            $submitText = $('#submit-text'),
            $downloadBtn = $('#download-btn'),
            $downloadIcon = $('#download-icon'),
            $downloadText = $('#download-text');
        var
            $submitIconTemp = "fas fa-fw fa-sm text-white-50 ",
            $submitBtnTemp = "d-none d-sm-inline-block btn btn-sm shadow-sm ";

        $submitBtn.on('click', function (e) {
            e.preventDefault();
            if (is_running === 0) {
                $submitIcon.attr("class", $submitIconTemp + "fa-cloud-arrow-up");
                $submitBtn.attr("class", $submitBtnTemp + "btn-secondary");
                $submitText.html('Waiting for response');
                is_running = 1;

                const formData = new FormData(document.getElementById('form-data'));
                $.ajax({
                    type: "POST",
                    url: '/submit-data',
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: async function (data) {
                        $submitIcon.attr("class", $submitIconTemp + "fa-check");
                        $submitBtn.attr("class", $submitBtnTemp + "btn-success");
                        $submitText.html('Finished');

                        console.log(data['status']);
                        outputText.value = data['revised'];

                        await sleep(2000);
                        $submitIcon.attr("class", $submitIconTemp + "fa-play");
                        $submitBtn.attr("class", $submitBtnTemp + "btn-primary");
                        $submitText.html('Submit');
                        document.getElementById("submit-btn").disabled = false;
                        is_running = 0;
                    },
                    error: function (error) {
                        console.error(error);
                        outputText.value = error;
                        $submitIcon.attr("class", $submitIconTemp + "fa-xmark");
                        $submitBtn.attr("class", $submitBtnTemp + "btn-danger");
                        $submitText.html('Error');
                    }
                });
            };
        });

        $downloadBtn.on('click', function (e) {
            e.preventDefault();

            const formData = new FormData(document.getElementById('form-data'));
            fetch('/download-file', {
                method: 'POST',
                body: formData
            })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'revised_text.docx';
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                })
                .catch(error => console.error(error))

            $.ajax({
                type: "POST",
                url: '/download-file',
                data: formData,
                contentType: false,
                cache: false,
                processData: false,
                success: function(data)
                {
                    console.log(data);
                },
                error: function(data) {
                    console.error(data);
                }
            });
        });

    </script>

</body>

</html>
